In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Sales.csv')

# Delete the 'Delivery Date' column
df.drop(columns=["Delivery Date"], inplace=True)

# Print the updated DataFrame
print(df)

# Save the cleaned DataFrame to a new CSV file
df.to_csv('newsales.csv', index=False)

       Order Number  Line Item Order Date  CustomerKey  StoreKey  ProductKey  \
0            366000          1   1/1/2016       265598        10        1304
1            366001          1   1/1/2016      1269051         0        1048
2            366001          2   1/1/2016      1269051         0        2007
3            366002          1   1/1/2016       266019         0        1106
4            366002          2   1/1/2016       266019         0         373
...             ...        ...        ...          ...       ...         ...
62879       2243030          1  2/20/2021      1216913        43         632
62880       2243031          1  2/20/2021       511229         0          98
62881       2243032          1  2/20/2021       331277         0        1613
62882       2243032          2  2/20/2021       331277         0        1717
62883       2243032          3  2/20/2021       331277         0         464

       Quantity Currency Code
0             1           CAD
1             2           USD
2             1           USD
3             7           CAD
4             1           CAD
...         ...           ...
62879         3           USD
62880         4           EUR
62881         2           CAD
62882         2           CAD
62883         7           CAD

[62884 rows x 8 columns]

In [5]:
import numpy as np
import pandas as pd

df = pd.read_csv('Stores.csv')

df.fillna(0, inplace=True)

print(df)

df.to_csv('newstores.csv', index=False)

    StoreKey        Country                         State  Square Meters  \
0          1      Australia  Australian Capital Territory          595.0
1          2      Australia            Northern Territory          665.0
2          3      Australia               South Australia         2000.0
3          4      Australia                      Tasmania         2000.0
4          5      Australia                      Victoria         2000.0
..       ...            ...                           ...            ...
62        63  United States                          Utah         2000.0
63        64  United States                 Washington DC         1330.0
64        65  United States                 West Virginia         1785.0
65        66  United States                       Wyoming          840.0
66         0         Online                        Online            0.0

    Open Date
0    1/1/2008
1   1/12/2008
2    1/7/2012
3    1/1/2010
4   12/9/2015
..        ...
62   3/6/2008
63   1/1/2010
64   1/1/2012
65   1/1/2014
66   1/1/2010

[67 rows x 5 columns]

In [44]:
import numpy as np
import pandas as pd

df = pd.read_csv('Products.csv')

newproducts = np.unique(df, axis=0)

print(newproducts)

newproducts.to_csv('newproducts.csv', index=False)

      ProductKey                                   Product Name    Brand  \
0              1            Contoso 512MB MP3 Player E51 Silver  Contoso
1              2              Contoso 512MB MP3 Player E51 Blue  Contoso
2              3               Contoso 1G MP3 Player E100 White  Contoso
3              4              Contoso 2G MP3 Player E200 Silver  Contoso
4              5                 Contoso 2G MP3 Player E200 Red  Contoso
...          ...                                            ...      ...
2512        2513    Contoso Bluetooth Active Headphones L15 Red  Contoso
2513        2514  Contoso Bluetooth Active Headphones L15 White  Contoso
2514        2515             Contoso In-Line Coupler E180 White  Contoso
2515        2516             Contoso In-Line Coupler E180 Black  Contoso
2516        2517            Contoso In-Line Coupler E180 Silver  Contoso

       Color Unit Cost USD Unit Price USD  SubcategoryKey  \
0     Silver        $6.62         $12.99              101
1       Blue        $6.62         $12.99              101
2      White        $7.40         $14.52              101
3     Silver       $11.00         $21.57              101
4        Red       $11.00         $21.57              101
...      ...           ...            ...             ...
2512     Red       $43.07        $129.99              505
2513   White       $43.07        $129.99              505
2514   White        $1.71          $3.35              505
2515   Black        $1.71          $3.35              505
2516  Silver        $1.71          $3.35              505

                  Subcategory  CategoryKey     Category
0                     MP4&MP3            1        Audio
1                     MP4&MP3            1        Audio
2                     MP4&MP3            1        Audio
3                     MP4&MP3            1        Audio
4                     MP4&MP3            1        Audio
...                       ...          ...          ...
2512  Cell phones Accessories            5  Cell phones
2513  Cell phones Accessories            5  Cell phones
2514  Cell phones Accessories            5  Cell phones
2515  Cell phones Accessories            5  Cell phones
2516  Cell phones Accessories            5  Cell phones

[2517 rows x 10 columns]

In [45]:
import numpy as np
import pandas as pd

df = pd.read_csv('Exchange_Rates.csv')

df.dropna(inplace = True)

print(df)

df.to_csv('newexchange_rates.csv', index=False)

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('Customers.csv', encoding='unicode_escape')

df.dropna(inplace = True)

print(df)

df.to_csv('newcustomers.csv', index=False)

       CustomerKey  Gender               Name                 City State Code  \
0              301  Female      Lilly Harding       WANDEARAH EAST         SA
1              325  Female       Madison Hull           MOUNT BUDD         WA
2              554  Female      Claire Ferres            WINJALLOK        VIC
3              786    Male  Jai Poltpalingada         MIDDLE RIVER         SA
4             1042    Male    Aidan Pankhurst        TAWONGA SOUTH        VIC
...            ...     ...                ...                  ...        ...
15261      2099600  Female     Denisa Duková              Houston         TX
15262      2099618    Male   Justin Solórzano               Mclean         VA
15263      2099758    Male    Svend Petrussen           Wilmington         NC
15264      2099862  Female       Lorenza Rush            Riverside         CA
15265      2099937    Male   Zygmunt Kaminski  Bloomfield Township         MI

                   State Zip Code        Country      Continent    Birthday
0        South Australia     5523      Australia      Australia    7/3/1939
1      Western Australia     6522      Australia      Australia   9/27/1979
2               Victoria     3380      Australia      Australia   5/26/1947
3        South Australia     5223      Australia      Australia   9/17/1957
4               Victoria     3698      Australia      Australia  11/19/1965
...                  ...      ...            ...            ...         ...
15261              Texas    77017  United States  North America   3/25/1936
15262           Virginia    22101  United States  North America   2/16/1992
15263     North Carolina    28405  United States  North America   11/9/1937
15264         California    92501  United States  North America  10/12/1937
15265           Michigan    48302  United States  North America   8/18/1965

[15256 rows x 10 columns]